<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharebook.dao.UserDao">
  <resultMap type="com.sharebook.entity.User" id="UserMap">
  		<id column="usid" property="usid"/>
  		<result column="login_name" property="loginName"/>
  		<result column="password" property="password"/>
  		<result column="nick_name" property="nickName"/>
  		<result column="address" property="address"/>
  		<result column="phone" property="phone"/>
  		<result column="email" property="email"/>
  		<result column="head_img" property="headimg"/>
  		<result column="state" property="state"/>
  		<result column="active_code" property="activeCode"/>
  		<result column="nofunc" property="nofunc"/>
  </resultMap>
  <resultMap type="com.sharebook.entity.UserVo" id="UserVo">
  		<id column="usid" property="usid"/>
  		<result column="nick_name" property="nickName"/>
  		<result column="address" property="address"/>
  		<result column="head_img" property="headimg"/>
  		<result column="up_num" property="upNum"/>
  	
  </resultMap>
	<select id="checkUserLoginName" parameterType="String" resultMap="UserMap">
		select * from user_info where login_name=#{loginName} and nofunc=0
	</select>
	<insert id="regist" parameterType="com.sharebook.entity.User">
		insert into user_info(usid,login_name,password,nick_name,email,phone,address,active_code,state,head_img,nofunc)
		values(seq_uid.nextval,#{loginName},#{password},#{nickName},#{email},#{phone},#{address},#{activeCode},#{state},#{headimg},#{nofunc})
	</insert>
	<select id="findUserByCode" parameterType="String" resultMap="UserMap">
		select * from user_info where active_code=#{code}
	</select>
	<update id="update"  parameterType="com.sharebook.entity.User">
		update user_info set active_code=#{activeCode},state=#{state} where usid=#{usid}
	</update>
	<select id="getUserByLoginUser" parameterType="com.sharebook.entity.User" resultMap="UserMap">
		select * from user_info
		<where>
			login_name=#{loginName} and password=#{password} and state=1
		</where>
	</select>
	<select id="countAllUsers" resultType="int">
		select count(*) from user_info
	</select>
	<update id="updatePassword"  parameterType="com.sharebook.entity.User">
		update user_info set password=#{password} where usid=#{usid}
	</update>
	<update id="updatePerson"  parameterType="com.sharebook.entity.User">
		update user_info set nick_name=#{nickName},email=#{email},phone=#{phone},address=#{address} where usid=#{usid}
	</update>
	<update id="upLoadHeadImg"  parameterType="com.sharebook.entity.User">
		update user_info set head_img=#{headimg} where usid=#{usid}
	</update>
	<select id="findAllUsers" resultMap="UserMap">
		select u2.* from (select u1.* from (select u.*,rownum rn from user_info u)u1 where u1.rn&gt;(#{pc}-1)*#{ps})u2 where u2.rn&lt;=#{pc}*#{ps}
	</select>
	<select id="findNewUser" resultMap="UserVo">
		select uv.* from (select u.usid,u.head_img,u.nick_name,u.address,rownum rn from user_info u where u.nofunc=0)uv where uv.rn&lt;=5
	</select>
	<update id="delUser" parameterType="long">
		update user_info set nofunc=1 where usid=#{usid}
	</update>
</mapper>




































